html{
  height:100%
}
body{
  height:100%;
  overflow: hidden;
}

.intro{
  height:calc(100% - 50px)
}

.left{
  display : flex;
  flex-direction: column;
  align-items : center;
  background-color:#FFF;
  height : 100%;
  color : #000000;
}
.right{
  display : flex;
  overflow-y: scroll;
  flex-direction: column;
  background-color:#FFF;
  height : 100%;
  color : #000000;
  box-shadow: -3px 0px 3px -1px #aaaaaa;
}
@media (max-width: 1200px) {
  .left{
    height:50%
  }
  .right{
    height:50%
  }
}
#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.term-panel{
  margin: auto;
}

.term-panel:first-child {
  margin-top: 20px
}
