{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type = "text/css" href="{% static 'css/index.css' %}"/>
{% endblock %}

{% block js %}
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <!--v0.4.10 latest version-->
  <script src="http://cpettitt.github.io/project/dagre-d3/v0.4.17/dagre-d3.min.js"></script>
  <script src="http://wzrd.in/standalone/uuid@latest"></script>

  <script type = "text/javascript" src="{% static 'js/index.js' %}" ></script>
  <script type = "text/javascript" src="{% static 'js/graph.js' %}" ></script>
{% endblock %}

{% block content %}
  <div class="intro">
     <row>
         <div class="col-lg-8 col-sm-12 left">
             <div>
               <svg height="100%">
               </svg>
             </div>
         </div>
         <div class="col-lg-4 col-sm-12 right">
             <div id = "rightpanel">
             {% for termName in termList %}
               <div class='panel panel-primary term-panel'>
             <div class='panel-heading'>
               {{ termName }}
             </div>
             <div class="panel-body">
               <form>
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Course Name">
               </div>
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Course Name">
               </div>
               <div class="form-group">
                 <input type="text" class="form-control" placeholder="Course Name">
               </div>
             </form>
             </div>
           </div>
        {% endfor %}
             </div>
         </div>
     </row>
   </div>

   <div id="major-id" data-id="{{ majorId }}" style="display:none"></div>
{% endblock %}
